In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [12]:
import webscraping
filename = 'player.csv'
dfplayer = pd.read_csv(filename, header=0)   # encoding="latin1" et al.
print(f"{filename} : file read into a pandas dataframe.")

player.csv : file read into a pandas dataframe.

In [13]:
dfplayer

   Kills  Deaths  Assists
0      0       3        4
1      9       3        6
2      9       8        8
3      4       5        3
4      2       2        3
5      1       9        3
6     13       5        8
7     12       3       11
8      8       7        4
9      7       4        4

In [15]:
filename = 'champions.csv'
dfchampions = pd.read_csv(filename, header=0)   # encoding="latin1" et al.
print(f"{filename} : file read into a pandas dataframe.")

champions.csv : file read into a pandas dataframe.

In [16]:
dfchampions

    Kills  Deaths  Assists  Wins  Losses
0     9.5     4.0     11.8     3       1
1    10.5     5.3      5.8     3       1
2     5.0     7.5      4.8     1       3
3     6.0     4.0     11.0     2       0
4     5.0     3.5      3.0     1       1
5    12.5     7.0      7.0     1       1
6    11.0     4.0     13.0     1       0
7     9.0     0.0      6.0     1       0
8     2.0     2.0      4.0     1       0
9    14.0     5.0      6.0     1       0
10   12.0     5.0     11.0     1       0
11   12.0     7.0      6.0     0       1
12    0.0     5.0      2.0     0       1
13   11.0    11.0     16.0     0       1